.urn {
  position: absolute;
  top: 40px;
  right: 20px;
  background-image: url(../../images/urn.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 18px;
  height: 19px;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  z-index: 3;
}
.urn:hover {
  opacity: 0.6;
}
