.nav {
  display: flex;
  height: 80px;
  background-color: rgb(0, 0, 0);
  max-width: 100vw;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
}
.conteiner {
  max-width: 1280px;
  width: 100%;
  gap: 200px;
  /*   margin: 0 auto; */
  display: flex;
}
.title {
  margin: 0;
  padding: 8px 0 0 50px;
  font-weight: 600;
  color: #f0f8ff;
  font-style: italic;
}
.link__row {
  max-width: 400px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.link {
  color: aliceblue;
  font-size: 30px;
  margin: 0;
  padding-top: 25px;
  text-decoration: none;
}
.active_link {
  color: rgb(160, 174, 205);
  font-size: 30px;
  margin: 0;
  padding-top: 25px;
}
.link:hover {
  text-decoration: underline;
}
