.form__inputs {
  list-style: none;
  counter-reset: list-number;
  width: 40%;
}

.form__item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.form_label {
  height: 62px;
  padding-top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.form_label:before {
  counter-increment: list-number;
  content: counter(list-number) ". ";
}

.form__input {
  height: 32px;
  margin-top: 15px;
  width: 320px;
  resize: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}
