.form__item {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.form_label {
  height: 62px;
  padding-top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.form_label:before {
  counter-increment: list-number;
  content: counter(list-number) '. ';
}

.form_select {
  height: 32px;
  margin-top: 15px;
  width: 320px;
  resize: none;
  font-size: 16px;
  outline: none;
  cursor: pointer;
}

.form_select:hover {
  border: 2px solid rgb(0, 0, 0);
}

.form_select:focus {
  border: 2px solid rgb(0, 0, 0);
}

.form_error {
  color: rgb(231, 19, 19);
  position: absolute;
  transform: translateY(37px);
  font-size: 18px;
}
