.container {
  width: 100%;
  padding-top: 70px;
}

.lists {
  box-sizing: border-box;
  margin: 0;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-auto-rows: 300px;
  gap: 30px 33px;
  flex-wrap: wrap;
  max-height: calc(100vh - 150px);
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  text-align: center;
  padding: 0 15px 30px;
}
.lists::-webkit-scrollbar {
  width: 12px;
}

.lists::-webkit-scrollbar-track {
  background: #000000;
}

.lists::-webkit-scrollbar-thumb {
  background: rgb(160, 174, 205);
  border: 4px solid #494949;
  border-radius: 6px;
}
