.container__image {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* .image {
  width: 60%;
}
.container__image {
  display: flex;
  overflow: hidden;
}
 */
.container__image {
  display: flex;
  overflow: hidden;
}

.img_wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.image {
  transition: transform 1s ease, flex 1s ease;
  transform-origin: top;
}
