.form__inputs {
    list-style: none;
    counter-reset: list-number;
    width: 40%;
}

.form__item {
    display: flex;
    justify-content: space-between;
}

.form_label {
    font-size: 22px;
    cursor: pointer;
}

.form_label:before {
    counter-increment: list-number;
    content: counter(list-number)'. ';
}

.form__input {
    height: 190px;
    font-size: 16px;
    width: 320px;
    resize: none;
    margin-bottom: 20px;
    outline: none;
    cursor: pointer;
}