.form__inputs {
  list-style: none;
  counter-reset: list-number;
  width: 40%;
}

.form__item {
  display: flex;
  justify-content: space-between;
}

.form_label {
  height: 62px;
  padding-top: 15px;
  font-size: 22px;
  cursor: pointer;
}

.form_label:before {
  counter-increment: list-number;
  content: counter(list-number) ". ";
}

.form__input {
  margin-top: 15px;
  height: 160px;
  font-size: 18px;
  width: 320px;
  resize: none;
  outline: none;
  cursor: pointer;
}
.form__input:hover {
  border: 2px solid black;
  cursor: auto;
}
.form__input:focus {
  border: 2px solid black;
  cursor: auto;
}
.form_error {
  color: rgb(231, 19, 19);
  position: absolute;
  transform: translateY(37px);
  font-size: 18px;
}
